.RulesPane {
    min-height: 100vh;
    text-align: left;
}

p {
    margin: 0.65em 0.5em;
}
.RulesPaneHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 50px;
    line-height: 50px;

    border-bottom: 2px solid rgb(107, 107, 107);
    color: rgb(107, 107, 107);
}

.RulesPaneHeaderText {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.6rem;
    color: rgb(235, 235, 235);
    font-weight: bold;
}

